



<section id="skill" class="w-full min-h-screen">
    <div class="flex justify-center h-[20vh] p-10">
        <h2 class="text-2xl">Habilidades</h2>
    </div>
    <div class="min-h-[80vh] flex justify-center items-center">

        <picture>
            
        </picture>
        <div class="nobolusa flex justify-center items-start ">
            <svg class="habiliades"  width="80"  height="80"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.875 6.27a2.225 2.225 0 0 1 1.125 1.948v7.284c0 .809 -.443 1.555 -1.158 1.948l-6.75 4.27a2.269 2.269 0 0 1 -2.184 0l-6.75 -4.27a2.225 2.225 0 0 1 -1.158 -1.948v-7.285c0 -.809 .443 -1.554 1.158 -1.947l6.75 -3.98a2.33 2.33 0 0 1 2.25 0l6.75 3.98h-.033z" /><path d="M15.5 9.422c.312 .18 .503 .515 .5 .876v3.277c0 .364 -.197 .7 -.515 .877l-3 1.922a1 1 0 0 1 -.97 0l-3 -1.922a1 1 0 0 1 -.515 -.876v-3.278c0 -.364 .197 -.7 .514 -.877l3 -1.79c.311 -.174 .69 -.174 1 0l3 1.79h-.014z" /></svg>
        </div>    
        <div class="absolute slip1  "></div>
        <div class="absolute slip2  "></div>
        <div class="absolute slip3  "></div>

        
    </div>
</section>


<style>
    .habiliades {
        background: linear-gradient(#3768c0, #1f386d);
        padding: 20px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }

    .nobolusa{
        position: relative;
        width: 200px;
        height: 130px;
        background-image: radial-gradient(closest-side,rgba(20, 84, 180, 0.966),#0b1121 );
        position: absolute;
        z-index: -10;
        scale: 1.2;
        border-radius: 60%;
    }

    .slip1 {
        width: 300px;
        height: 150px;
        border: 1px solid rgba(20, 84, 180, 0.966);
        border-radius: 60%;
        margin-top: 20px;
        z-index: -100;
    }

    .slip2 {
        width: 320px;
        height: 150px;
        border: 1px solid rgba(20, 84, 180, 0.966);
        border-radius: 60%;
        margin-top: 20px;
        z-index: -100;
    }

    .slip3 {
        width: 350px;
        height: 150px;
        border: 1px solid rgba(20, 84, 180, 0.966);
        border-radius: 60%;
        margin-top: 20px;
        z-index: -100;
    }
</style>

