




<div class="flex flex-col gap-5 mb-2 items-center mt-10">
    <section class="flex gap-5">
        <img src="icons/html5.svg" alt="css">
        <img src="icons/css.svg" alt="html">
        <img src="icons/javascript.svg" alt="javascript">
        <img src="icons/typescript.svg" alt="react">
    </section>
    <section class="flex gap-5">
        <img src="icons/react.svg" alt="react">
        <img src="icons/nextjs.svg" alt="html">
        <img src="icons/astro_dark.svg" alt="expressjs_dark.svg">
        <img src="icons/tailwindcss.svg" alt="">
        <img src="icons/nodejs.svg" alt="linux.svg">
    </section>
    <section class="flex gap-5">
        <img src="icons/expressjs_dark.svg" alt="expressjs_dark.svg">
        <img src="icons/postgresql.svg" alt="postgresql.svg">
        <img src="icons/mysql.svg" alt="mysql.svg">
        <img src="icons/prisma_dark.svg" alt="prisma_dark.svg">
        <img src="icons/mongodb.svg" alt="mongodb.svg">
        <img src="icons/linux.svg" alt="linux.svg">
    </section>
</div>

<style>
    img {
        width: 50px;
        height: 50px;
        padding: 5px;
        background-color: #121f3b;
        border-radius: 10px;
    }
</style>